<header>
    <div id='heading'>
        Exam Time Table Scheduler
    </div>
    <div class="navbar">
        <a href="/generateTimeTable">Generate Time Table</a>
        
        <div class="rightLinks">
            <a href='/courses'>Courses</a>
            <a href='/students'>Students</a>
        </div>
    </div class="navbar">
</header>